S3method(predict,SELPCCA)
export(BetweenViewBiplot)
export(CorrelationPlots)
export(DiscriminantPlots)
export(LoadingsPlots)
export(VarImportancePlot)
export(WithinViewBiplot)
export(cvSIDA)
export(cvSIDANet)
export(cvselpscca)
export(cvtunerange)
export(filter.supervised)
export(filter.unsupervised)
export(multiplescca)
export(networkPlot)
export(selpscca.pred)
export(sida)
export(sidaclassify)
export(sidanet)
export(sidanettunerange)
export(sidatunerange)
export(umapPlot)
export(volcanoPlot)
import(CVXR)
import(RSpectra)
import(doParallel)
import(foreach)
import(ggplot2)
import(ggthemes)
import(grDevices)
import(graphics)
import(igraph)
import(methods)
import(parallel)
import(stats)
import(umap)
importFrom(CVXR,power)
importFrom(Matrix,Matrix)
importFrom(foreach,"%dopar%")
importFrom(grDevices,colorRamp)
importFrom(grDevices,colorRampPalette)
importFrom(grDevices,dev.cur)
importFrom(grDevices,dev.new)
importFrom(grDevices,dev.off)
importFrom(grDevices,jpeg)
importFrom(grDevices,pdf)
importFrom(grDevices,tiff)
importFrom(graphics,axis)
importFrom(graphics,box)
importFrom(graphics,image)
importFrom(graphics,layout)
importFrom(graphics,legend)
importFrom(graphics,lines)
importFrom(graphics,par)
importFrom(graphics,plot)
importFrom(graphics,points)
importFrom(graphics,strheight)
importFrom(graphics,strwidth)
importFrom(graphics,title)
importFrom(igraph,decompose)
importFrom(igraph,spectrum)
importFrom(methods,is)
importFrom(stats,aggregate)
importFrom(stats,binomial)
importFrom(stats,cor)
importFrom(stats,density)
importFrom(stats,glm)
importFrom(stats,kruskal.test)
importFrom(stats,lm)
importFrom(stats,p.adjust)
importFrom(stats,prcomp)
importFrom(stats,quantile)
importFrom(stats,t.test)
importFrom(stats,var)
importFrom(utils,combn)
